button#theme-toggle-button {
  position: absolute;
}

header {
  background-color: var(--primary-base);
  color: var(--text-color);
  padding-block-start: 2rem;
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
  padding-block-end: 2rem;
  text-transform: capitalize;
}

header > h1 {
  margin-block-start: 0;
  font-size: 3rem;
}

.briefing {
  text-align: center;
}

#translate-input-form {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  justify-content: center;
  align-items: center;
  --gap: 1rem;
}

#translate-text-holder {
  width: 100%;
  border: 2px solid var(--secondary-base);
  resize: none;
  background-color: var(--bg-color);
  color: var(--blog-card-text-color);
}

#language-selector {
  background-color: var(--bg-color);
  color: var(--blog-card-text-color);
  padding-inline-start: 1rem;
  padding-block-start: 0.9rem;
  padding-block-end: 0.9rem;
}

#text-output-holder {
  border: 2px solid var(--secondary-base);
  background-color: var(--bg-color);
  height: 160px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  font-family: monospace;
  display: grid;
  place-content: center;
}
